# Compiled SmartContracts
src/smartcontracts/build/*

# Node modules
**/node_modules/*
**/package-lock.json

# Artifacts
src/client/webserver/tokens/*.json

# Config
config.json

# Binaires
*.out

# Latex
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.nav
*.snm
.*.lb

**/CMakeCache.txt
**/CMakeFiles/*
**/Makefile
*.cmake

## Binary
/src/client/broker/datahandler
