extends base

append styles
  title Bill

append content
  h1 New Invoice
  hr
  h2 Details
  table
    tr
      td Energy needed/Invoice amount:
      td
        span#invoiceAmount Loading...
    tr
      td Tokens earned:
      td
        span#tokens Loading...
  hr
  h2 Where my money is going:
  <input type="range" min="0" max="100" value="50" id="slider" step="0.1">
  p Use Tokens to spend to Fund:
    span#fund
  p Use Tokens to reduce my bill:
    span#bill
  hr
  button#sendMoney.btn.btn-default Send Money

append scripts
  script(src='js/truffle-contract.js')
  script(src='js/billCalc.js')
