<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0%" fxLayoutAlign="space-evenly">
    <ng-container *ngFor="let number of [0,1,2,3,4]">
      <mat-card class="dashboard-card col-md-12 col-lg-5" >
        <mat-card-header>
          <mat-card-title>
            Test
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="container">
            <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
